/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Root  Var */

:root {
  --main-color-solid: rgba(207, 205, 205);
  --main-color-medium: rgba(207, 205, 205, 0.6);
  --main-color-light: rgba(207, 205, 205, 0.3);
  --main-hover-color: rgb(255, 255, 255);
  --secondary-color: ;
  --bg-color: rgb(14, 14, 14);
  --link-color: rgb(220, 217, 213);
  --atencion-color: #7166d0;

  --main-font: "Raleway", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

/* Resets */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100vw;
  min-height: 100vh;
  font-family: var(--secondary-font);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Particle.js wrapper */

#particles-js {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
}

/* Custom Styles */
/* Tags */

footer {
  z-index: 33;
}
small {
  font-family: var(--secondary-font);
  color: var(--main-color-medium);
}

strong {
  color: var(--main-color-solid);
}

/* Class */
.bio_container {
  height: 60vh !important;
  padding-left: 1.5rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

.bi-chevron-double-down {
  animation: blink 2s infinite ease-in-out;
  cursor: pointer !important;
  z-index: 33 !important;
}

.bio_container p {
  font-weight: 500;
}

.border__bottom {
  border-bottom: 1px solid #7166d08a;
}

.bio__span{
  color: var(--atencion-color);
  transition: all .5s ease-in-out;
  cursor: pointer;
  font-weight: 800;
}

.bio__span:hover{
  text-shadow: 0 0 3px var(--atencion-color);
}

.dispositive__container {
  height: 15rem;
}

.dispositive__container:hover #computer {
  transform: perspective(2000px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)
    translateX(-30px) translateY(0px) translateZ(0px);
}

.dispositive__container:hover #tablet {
  transform: perspective(2000px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)
    translateX(-30px) translateY(0px) translateZ(40px);
  opacity: 0.6;
}

.dispositive__container:hover #movil {
  transform: perspective(2000px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)
    translateX(-30px) translateY(0px) translateZ(80px);
}

.excepto:not(.bi:hover):hover {
  color: inherit !important;
  text-shadow: 0 0 0 transparent;
}

.index__top {
  z-index: 999 !important;
}

.landing_text {
  
  height: 60vh;
}

.landing_text-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  
}

.landing_text-name h2 {
  text-align: center;
  font-weight: bold;
  font-size: 8rem;
  line-height: 6.5rem;
}

.landing_text-name h5 {
  color: var(--main-color-solid);
  font-weight: 100;
  font-size: 5rem;
  line-height: 5rem;
  text-align: end;
}

.landing_text-lastname {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

.landing_text-lastname a {
  z-index: 33;
  color: var(--main-color-solid);
  position: absolute;
  font-weight: 400;
  font-size: 1.8rem;
  font-family: var(--main-font);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-shadow: 5px 0 7px black;
}

.landing_text-lastname a:hover {
  text-shadow: 0 0 3px white;
}

.links {
  z-index: 33;
}

.links i {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}

#picture-a {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#picture-b {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.picture__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 3rem;
}
.picture__container i {
  position: absolute;
  cursor: pointer;
  font-size: 12rem;
}

.picture__container:hover #picture-a {
  opacity: 1;
}

.picture__container:hover #picture-b {
  opacity: 0;
}

.picture__container:active #picture-a {
  opacity: 1;
  transform: perspective(2000px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)
    translateX(-30px) translateY(0px) translateZ(0px);
}

.picture__container:active #picture-b {
  opacity: 1;
  transform: perspective(2000px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)
    translateX(-30px) translateY(0px) translateZ(40px);
  color: white;
  text-shadow: 0 0 3px white;
}

.scroll__arrow {
  z-index: 33 !important;
  cursor: pointer !important;
}
.shinny:hover {
  color: white !important;
  text-shadow: 0 0 3px white;
}

.glide__slide img{
  box-shadow: rgba(252, 251, 251, 0.1) 0px 10px 15px -3px, rgba(255, 254, 254, 0.05) 0px 4px 6px -2px;
}
.slide-button{
  border: none;
  background: #7166d03b;
}

.trust__container {
  position: relative;
  width: 12rem;
  height: 12rem;
}
.trust__container i {
  position: absolute;

  font-size: 12rem;
  line-height: 12rem;
  transition: all 0.5s ease-in-out;
}

.trust__container i:nth-child(1) {
  opacity: 1;
}
.trust__container i:nth-child(2) {
  opacity: 0;
}
.trust__container:hover i:nth-child(1) {
  opacity: 0;
}

.trust__container:hover i:nth-child(2) {
  opacity: 1;
  text-shadow: 0 0 3px white;
}

/* Id */
#computer {
  font-size: 15rem;
  line-height: 15rem;
  transform: translateX(3px);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  transform-style: preserve-3d;
}

#focus__container a:nth-child(1) {
  position: absolute;
  font-size: 8rem;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

#focus__container a:nth-child(2) {
  position: absolute;
  font-size: 4rem;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

#focus__container a:nth-child(3) {
  position: absolute;
  font-size: 2rem;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

#focus__container:hover a:nth-child(1) {
  transform: perspective(2000px) rotateX(50deg) rotateY(30deg) rotateZ(0deg)
    translateX(-30px) translateY(0px) translateZ(00px);
  text-shadow: 0 0 3px white;
  color: white;
}

#focus__container:hover a:nth-child(2) {
  transform: perspective(2000px) rotateX(50deg) rotateY(30deg) rotateZ(0deg)
    translateX(-30px) translateY(0px) translateZ(40px);

  text-shadow: 0 0 3px white;
  color: white;
}

#focus__container:hover a:nth-child(3) {
  transform: perspective(2000px) rotateX(50deg) rotateY(30deg) rotateZ(0deg)
    translateX(-30px) translateY(0px) translateZ(80px);
  text-shadow: 0 0 3px white;
}

#footer__link:hover small > strong {
  text-shadow: 0 0 2px white;
}

#footer__link:hover small > span {
  text-shadow: 0 0 2px var(--atencion-color);
}

#link-proyectos {
  animation: show 7s ease-in-out; /* Animation name, duration, timing function */
}

#movil {
  font-size: 4rem;
  transform: translateX(40px);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  transform-style: preserve-3d;
}

#proyectos__layout-icon{
  height: 25rem;
  transition: all 0.5s ease-in-out;
  
}

#grid-icon {
  font-size: 25rem;
  line-height: 25rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  
 
}

#carrousel{
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  
  
}

#proyectos__layout-icon:hover i{
  color: white !important;
  text-shadow: 0 0 3px white;
}



#tablet {
  font-size: 5.5rem;
  transform: translateX(20px);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  transform-style: preserve-3d;
}

/* Animations */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 2px; /* Ancho de la barra */
  height: 2px; /* Altura de la barra */
}

::-webkit-scrollbar-thumb {
  background: #7166d094; /* Color del carril */
  border-radius: 5px; /* Redondeo del carril */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo del carril */
}
